<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= manga.title %></title>
</head>
<body>
    <h1><%= manga.title %></h1>
    <img src="<%= manga.image %>" alt="<%= manga.title %>">
    <p>Author: <%= manga.author %></p>
    <p>Description: <%= manga.description %></p>
    <a href="/">Back to Home</a>
</body>
</html>